/*Angry*/

.angry {
  /*animation: shake 1s linear infinite;*/
}

.angry .eyes::before,
.angry .eyes::after {
  top: -0px;
  width: 150px;
  height: 75px;
  border-radius: 0 0 5rem 5rem;
  transform: rotateY(0deg) rotate(30deg); /* needs Y at 0 deg to behave properly*/
  transition: all .1s;
  /*animation: shake 4s cubic-bezier(.55, 0, .1, 1) infinite;*/
}

.angry .eyes::after {
  transform: rotateY(0deg) rotate(-30deg); /* needs Y at 0 deg to behave properly*/
}

@keyframes shake {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  10% { transform: translate(-50%, -50%) rotate(15deg); }
  20% { transform: translate(-50%, -50%) rotate(-15deg); }
  30% { transform: translate(-50%, -50%) rotate(15deg); }
  40% { transform: translate(-50%, -50%) rotate(-15deg); }
  50% { transform: translate(-50%, -50%) rotate(15deg); }
  60% { transform: translate(-50%, -50%) rotate(-15deg); }
  70% { transform: translate(-50%, -50%) rotate(15deg); }
  80% { transform: translate(-50%, -50%) rotate(-15deg); }
  90% { transform: translate(-50%, -50%) rotate(15deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}
