.sad .eyes {
  /*width: 30px;*/
  /*height: 15px;*/
  /*border-top: 5px solid #0591e8;*/
  /*background: transparent;*/
}

.sad .eyes::before,
.sad .eyes::after {
  top: -0px;
  width: 150px;
  height: 75px;
  border-radius: 0 0 5rem 5rem;
  transform: rotateZ(0deg) rotate(-30deg); /* needs Y at 0 deg to behave properly*/
  transition: all .2s;
}

.sad .eyes::after {
  transform: rotateZ(0deg) rotate(30deg); /* needs Y at 0 deg to behave properly*/
}
