@import "happy.css";
@import "sad.css";
@import "angry.css";
@import "eyebrow.css";

body {
  background: #21252c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*face*/
.head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: #b7b7b7;*/
  /*background: #6f6f6f;*/
  background: linear-gradient(0deg, #6f6f6f 0%, #b7b7b7 100%);
  border: 5px solid #000000;
  user-select: none;
  cursor: pointer;
}

/*screen*/
.face {
  position: relative;
  width: 750px;
  height: 550px;
  background: #252728;
  border: 5px solid #000000;
  overflow: hidden;
}

/*expressions*/
.eyes {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(2px);
}

.eyes::before,
.eyes::after {
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  top: -75px;
  left: -200px;
  background: #0591e8;
  -webkit-box-shadow:0px 0px 15px 10px rgba(0,64,255,0.5);
  -moz-box-shadow: 0px 0px 15px 10px rgba(0,64,255,0.5);
  box-shadow: 0px 0px 15px 10px rgba(0,64,255,0.5);
  /*animation: blink 4s cubic-bezier(.55, 0, .1, 1) infinite; TODO animation cancels transform*/
  /*transition: all .3s cubic-bezier(.55, 0, .1, 1);*/
}



.eyes::after {
  left: auto;
  right: -200px;
}

@keyframes blink {
  0% { transform: scaleY(1); }
  2% { transform: scaleY(.05) scaleX(4); }
  4% { transform: scaleY(1); }
  50% { transform: scaleY(1); }
  52% { transform: scaleY(.1); }
  54% { transform: scaleY(1); }
  56% { transform: scaleY(.1); }
  58% { transform: scaleY(1); }
  100% { transform: scaleY(1); }
}

/*crt*/
.crt {
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {opacity: 0.27861;}
  5% {opacity: 0.34769;}
  10% {opacity: 0.23604;}
  15% {opacity: 0.90626;}
  20% {opacity: 0.18128;}
  25% {opacity: 0.83891;}
  30% {opacity: 0.65583;}
  35% {opacity: 0.67807;}
  40% {opacity: 0.26559;}
  45% {opacity: 0.84693;}
  50% {opacity: 0.96019;}
  55% {opacity: 0.08594;}
  60% {opacity: 0.20313;}
  65% {opacity: 0.71988;}
  70% {opacity: 0.53455;}
  75% {opacity: 0.37288;}
  80% {opacity: 0.71428;}
  85% {opacity: 0.70419;}
  90% {opacity: 0.7003;}
  95% {opacity: 0.36108;}
  100% {opacity: 0.24387;}
}
